

/*
b = background

h = height

c= color


*/

html,body{

    width:100%;
    height:100%;
}


.b-article{
    background-color:#eaeff2;
}

.b-nav{
    background-color:#eaeff2;
}

.b-theme{
    background-color:#00e0d4;
}


.c-button{
    background-color:#ff4500;
}

.c-yellow-letter-categories{
    color:#E0D400;
}

.c-orange-letter-categories{
    color:#ff4500;
}
.c-letter-button{
    color:#eaeff2;
}

.c-white-letter-logo{
    color:#eaeff2;
}

.c-white-letter-tip{
    color:#eaeff2;
}

.c-yellow-letter-header{
    color:#E0D400;
}
.c-orange-letter-header{
    color:#ff4500;
}

.c-orange-letter-logo{
    color:#ff4500;
}
.c-letter-nav{
    color:#ff4500;
}



.h-article-lg{
    height:auto;
}

.letter-article{
    font-size: 19px;
}
.letter-center-logo{
    font-size: 100px;
}

.letter-center-search{
    font-size: 25px;
}

.letter-button-search{
    font-size: 18px;
}



.margin-footer{
    margin-top:15%;
}

.margin-footer-index{
    margin-top:20%;
}

.margin-logo-center{
    margin-left:31.3%;   
}

.error-margin{
    margin-left:41.3%;   
}
.margin-logo-index{
    margin-top:10%;
}
.margin-tip{
    margin-left:37.3%;  
    margin-top:1%; 
}


.principal-images{
    width: 875px;
    height:400px;
}

.text-align-color-title-categories{
    text-align: center;
    color:#ff4500;
    
}

.text-align-categories{
    text-align: center;

}

.text-align-error{
    text-align: center;

}
.logo{
    width:30px;
    height:30px;
    margin-left:70px;
}


@media screen and (max-width:500px){
 
    .w-article{
        height:auto;
    }

    .letter-center-logo{
        font-size: 50px;
    }
    
    .margin-logo-center{
        margin-left:22.3%;   
    }

    .margin-footer-index{
        margin-top:70%;
    }

    .margin-tip{
        margin-left:20.3%;  
        margin-top:1%; 
    }

    .letter-center-search{
        font-size: 18px;
    }
    

    .letter-article{
        font-size: 17px;
    }

    .logo{
        width:30px;
        height:30px;
        margin-left:10px;
    }
}


@media screen and (min-width:700px) and (max-width:850px){
 
    .w-article{
        height:auto;
    }

    .letter-center-logo{
        font-size: 100px;
    }
    
    .margin-logo-center{
        margin-left:24.3%;   
    }

    .margin-footer-index{
        margin-top:70%;
    }

    .w-footer{
        height:100%;
    }

    .logo{
        width:30px;
        height:30px;
        margin-left:10px;
    }
}

@media screen and (width:414px){
 
    .w-article{
        height:auto;
    }

    .letter-center-logo{
        font-size: 50px;
    }
    
    .margin-logo-center{
        margin-left:24.3%;   
    }

    .margin-footer-index{
        margin-top:70%;
    }

    
}